:javascript
  $(function(){
    // シドレミファソラシドレ
    const SCALE = [246.94, 261.62, 293.66, 329.62, 349.22, 391.99, 440.0, 493.88, 523.25, 587.32]

    var music = function(){
      var freqs = T(function(count) {
        return SCALE[count];
      });

      var osc = T("sin", {freq:freqs, mul: 0.5});
      var env = T("perc", {a: 50, r: 500}, osc).bang();

      var interval = T("param", {value: 250});

      T("interval", {interval: interval}, freqs, env).start();

      T("timeout", {timeout: 250 * SCALE.length}).on("ended", function() {
        this.stop();
      }).set({buddies: env}).start();
    };

    var playMusic = function(){
      console.log('music!');
      music();
    };

    // Events
    $('#play').on('click', function(){
      playMusic();
    });
  });

%h1 Mathematical Music
.buttons
  = button_tag 'Play', id: 'play'
