:javascript
  $(function(){
    $('#play').on('click', function(){
      console.log('play');
    });
    $('#pause').on('click', function(){
      console.log('pause');
    });
  });

%h1 Mathematical Music
.buttons
  = button_tag 'Play', id: 'play'
  = button_tag 'Pause', id: 'pause'
